name: build

permissions:
  contents: write

on:
  push:
    branches:
      - "main"
      - "master"

env:
  CARGO_TERM_COLOR: always
  binary: bevy-arcade-exploration # update with the name of the main binary

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    concurrency:
      group: ${{ github.head_ref || github.run_id }}
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ github.ref || github.run_id }}
      - uses: dtolnay/rust-toolchain@stable
      - name: Install alsa and udev
        run: sudo apt-get update; sudo apt-get install --no-install-recommends libasound2-dev libudev-dev
      - name: Install wasm target
        run: rustup target install wasm32-unknown-unknown && cargo install -f wasm-bindgen-cli --version 0.2.90
      - name: Build
        run: cargo build --release --target wasm32-unknown-unknown
      - name: Prepare package
        run: |
          wasm-bindgen --out-dir ./out/ --target web ./target/wasm32-unknown-unknown/release/${{ env.binary }}.wasm
      - name: Copy
        run: cp -R assets out/ && cp index.html out/index.html && ls -R out
      - name: Push
        uses: s0/git-publish-subdir-action@develop
        env:
          SQUASH_HISTORY: true
          REPO: self
          BRANCH: gh-pages # The branch name where you want to push the assets
          FOLDER: out # The directory where your assets are generated
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # GitHub will automatically add this - you don't need to bother getting a token
          MESSAGE: "Build: ({sha}) {msg}" # The commit message
